* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    color: antiquewhite;
    background: #081b29;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*padding: 10px ;*/
    background:#081b29 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    top: 0;
    left: 0;
    margin-left: 30px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.portfolio-logo{
    width: 80px; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
}
nav{
    margin-right: 30px;
    padding: 0;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.navbar a:hover {
    color: #F5004F;
}

.home {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: url("Assets/background/Witching Hour.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 100%;
    animation: slideBottem 1s ease forwards;
    animation-delay: .7s;
}